<%= form_for @workout do |f| %>

  <% Skill.all.each do |skill| %>

    <%= f.check_box :skills, {multiple: true}, skill%>
    <%= f.label :skills, skill.name %>
    <br>
  <% end %>

<div class="actions">
  <%= f.submit "Publish Workout" %>
</div>

<% end %>
