<h2>Archived Workouts</h2>

<div id="workout-show"></div>

<ul>
  <% @workouts.each do |workout| %>
    <div id="workout-<%= workout.id %>">
      <p><%= workout.date %> <button class="workout-js" data-id="<%= workout.id %>">See Workout</button></p>
    </div>
  <% end %>

</ul>
