<h2>Archived Workouts</h2>
<p><strong>Select a date to see the workout from that day</strong></p><br>

<ul>
  <% @workouts.each do |workout| %>
    <%= link_to workout.date, workout_path(workout) %><br />
  <% end %>
</ul>
