<h2>Write today's workout!</h2>
<h4>PICK UP TO 3 SKILLS FOR EACH TARGET ACTION</h4>

<%= form_for @workout do |f| %>

  <% Skill.all.each do |skill| %>
  
    <%= f.check_box :skills, {multiple: true}, skill%>
    <%= f.label :skills, skill.name %>
    <br>
  <% end %>

<div class="actions">
  <%= f.submit "Publish Workout" %>
</div>

<% end %>
