<h2>Daily Workout for <%= @workout.date%></h2>

<% @targets.each do |target| %>
  <h4><%= target %><?h4><br />
  <% @skills.each do |skill| %>
    <% if skill.target == target %>
      <%= link_to skill.name, skill_path(skill) %><br />
    <% end %>
  <% end %>
<% end %>
