<h1>Welcome back, <%= @athlete.first_name %>!</h1>

<h3>Here's the workouts that you've logged:</h3>

<ul>
  <% @workouts.each do |workout| %>
    <%= link_to workout.date, athlete_workout_path(@athlete.id, workout.id) %><br />
  <% end %>
</ul>
