<h3>Please select a skill target, in order to see each skill you can work on to strengthen that area!</h3>
<% skills_targets = [] %>
<% @skills.each do |skill| %>
    <% skills_targets << skill.target %>
<% end %>

<ul><% skills_targets.uniq.each do |target| %>
  <% @target = target %>
    <%= button_to target, skill_path(target), :method => "get" %>
  <% end %>
</ul>
