<center><h2>Skills that work toward strengthening your <%= @target %> action</h2></center>

<ul>
  <% @skills.each do |skill| %>
    <center><%= link_to skill.name, skill_path(skill.name), :method => "get", :id => "skill-link" %></center><br>
  <% end %>
</ul>
