<h2><%= @skill.name %></h2>

<% if @skill.demo != "" %>
  <iframe title="vimeo-player"
  src=<%=@video%>
  width="640" height="360" frameborder="0"
  allowfullscreen></iframe><br><br>
<% else %>
  <p>Sorry! There is no video demonstration for this skill.</p>
<% end %>


<% if @skill.description != "" %>
  <% @skill.description.split(" / ").each do |text| %>
    <%= text %><br /><br />
  <% end %>
<% else %>
  <p>Sorry! There is no description for this skill yet.</p>
<% end %>
