<h2><%= @skill.name %></h2>

<iframe title="vimeo-player"
src=<%=@video%>
width="640" height="360" frameborder="0"
allowfullscreen></iframe><br><br>


<% if !@skill.description.nil? %>
  <% @skill.description.split(" / ").each do |text| %>
    <%= text %><br /><br />
  <% end %>
<% else %>
  <p>Sorry! There is no description for this skill yet.</p>
<% end %>
