<h1>Welcome to Skillz Gym</h1>
<img src="/images/LA-Chinup.jpg" alt="chin-up" /><br>

<%= button_to "Skills", skills_path, :method => "get" %> 
<%= button_to "Daily Workout", skills_path, :method => "get" %>
<%= button_to "Personal Records", skills_path, :method => "get" %>
